<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="cnt">Leave Report</h4>
                    <!--form -->
                    </div>

                    
                </div>
                <div class="card-body">
                    <form >

                        
                        <div class="form-group">
                            Emp No:<input type="text" name="empno" #empno="ngModel" [(ngModel)]="applyleave_service.ApplyData.EmployeeNumber"   class="form-control" placeholder="Emp No" No required>
         
                         </div>
                        
                         <div class="form-group">
                            From Date:<input type="text" name="applieddate" class="form-control" placeholder="From Date" required>
         
                         </div>
                         <div class="form-group">
                            To Date:<input type="text" name="applieddate" class="form-control" placeholder="To Date" required>
         
                         </div>
                         
                        
                         
                        
                         
                         
                         
                         <div class="form-group">
                            <button class="btn btn-primary" type="submit"  >View</button>
                        </div>
                    </form>    
                </div>
                
            </div>
            
        </div>
        
    </div>